<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
      <title>Belarus Rent Apartments.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

      {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'apartments/detail_style.css' %}" />

  </head>

  <body>

    <div class="general-container">
                    <div class="header-common">
                        <div class="header-top">
                            <div class="header-top hd1 logo">
                                <!-- картинка пока ломает вёрстку -->
                                <img class="logo-img" src="../../static/apartments/images/logo.png" alt="LOGO">
                            </div>
                            <label class="header-top hd1 search">
                                <form action="https://echo.htmlacademy.ru" method="get" class="search-form">
                                  <input type="text" name="search">
                                </form>
                            </label>
                            <div class="header-top hd1 help-menu"></div>
                        </div>
                        <div class="header-bottom"></div>
                    </div>

                    <div class="info">
                        <h1>Это страница с детальной информацией о квартире: {{ apartment.pk }}</h1>

                    <!-- Contextual button for informational alert messages -->
                    <button type="button" class="btn btn-info">Info</button>

                        <ul>
                            <b>Номер телефона: </b>{{ apartment.phone }}<br>
                            <b>Информация о квартире: </b>{{ apartment.about }}<br>
                            <b>URL: </b>{{ apartment.apartment_url }}<br>
                            <b>Информация о владельце: </b>{{ apartment.owner }}<br>
                            <b>Заглавная информация: </b>{{ apartment.apartment_name }}<br>
                            <b>Заголовок: </b>{{ apartment.title }}<br>
                         </ul>
                    </div>
                   <div id="footer">
   &copy; Юрий Устинович
  </div>
    </div>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>

</html>